body{
  margin: 0;
  padding: 0;
  border: 0;
}

.general{
  display: flex;
  flex-direction: wrap;
}

.box-lista-salas{
  display: flex;
  flex: wrap;

  /* background-color: blueviolet; */
  width: 70%;
  height: 100vh;
  margin-right: 20px;
  /* margin: 10px; */
}

.box-info-user{
  display: flex;
  flex: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  width: 30%;
  height: 100vh;
}

.box-sala{
  display: flex;
  width: 250px;
  height: 300px;
  border-radius: 15px;
  background-color: chartreuse;
  margin: 5px;
}

.box-user{
  display: flex;
  background-color: #ebebeb;
  border-radius: 20px;
  width: 70%;
  height: 70%;
  /* padding: -50px; */
}